<% question ||= nil %>
<% action_icon = question.answer.blank? ? 'reply' : 'pencil' %>


<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <%= question.text %>
    </div>

    <div class="question-text_author">
      <% author = User.find(question.author_id) if question.author_id.present? %>

      <% if author.nil? %>
          <p>Автор: Аноним</p>
      <% else %>
          <p>Автор: <%= link_to author.name, user_path(author) %></p>
      <% end %>
    </div>



    <% if question.answer.present? %>
        <div class="question-answer text-lead">
          <%= question.answer if question.answer.present? %>
        </div>
    <% end %>

    <div class="question-date">
      <%= l(question.created_at, format: :short) %>
    </div>
  </div>

  <% if question.questioning_user.present? %>
      <div class="question-questioning-user buffer-top">
        <%= link_to "@#{question.questioning_user.username}", user_path(question.questioning_user) %>
      </div>
  <% end %>
</div>

  <% if question.user == current_user %>
      <div class="question-actions">
        <%= link_to fa_icon(action_icon), edit_question_path(question) %>
        <%= link_to fa_icon('trash-o'), question_path(question),
                    method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
      </div>
  <% end %>
</div>